.book-card {
    background-color: #662200;
    color: #cc9966;
    display: grid;
    grid-template-rows: 80% 20%;
    grid-gap: 3px;
}

.book-card:hover {
    transform: scale(0.8);
    transition-duration: 0.3s;
    border: #cc9966 solid 5px;
}
